body{
  padding:20px;
}

.App{
  margin:0 auto;
  width:600px;
}

.App >section{
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius:5px;
  padding:20px;
  margin-bottom: 10px;

}